.product {
  font-family: $font-primary;
  &__off {
    width: 62px;
    height: 55px;
    padding-top: 9px;
    padding-left: 6px;
    background: linear-gradient(
      to bottom left,
      $color-secondary 50%,
      transparent 51%
    );
    color: white;
    font-size: 1rem;
    text-align: right;
  }
  &__image {
  }
  &__data {
    &--title {
    }
    &--stars {
    }
    &--list-price {
    }
    &--price {
    }
    &--offer {
    }
  }
}
