@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';
.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  padding-bottom: 28px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  @include respond(tab-port) {
    width: 70vw;
  }
}
.list-container {
  position: relative;
  &__title {
    margin: 20px 30px;
    @include respond(tab-land) {
      margin-top: 43px;
    }
  }
}
.scroll-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 11px;
  width: 100vw;
  background-color: $color-white;
  @include respond(tab-port) {
    width: 70vw;
  }
  &.first {
    & p:first-child {
      color: $color-secondary;
    }
  }
  &.second {
    & p:nth-child(2) {
      color: $color-secondary;
    }
  }
  &.third {
    & p:nth-child(3) {
      color: $color-secondary;
    }
  }
  &.fourth {
    & p:last-child {
      color: $color-secondary;
    }
  }
  p {
    margin: 0 5px;
    transition: all 0.5s;
    color: $color-grey-light-4;
    @include respond(tab-land) {
      color: transparent !important;
    }
  }
}
.row {
  display: flex;
  flex-direction: row;
  position: relative;

  .arrow {
    display: none;
    position: absolute;
    top: 50%;
    color: red;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    @include respond(tab-land) {
      display: block;
    }
    &:hover img {
      width: 21px;
    }
    &-left {
      left: -30px;
    }
    &-right {
      right: -30px;
    }
    img {
      width: 17px;
      transition: 0.2s;
    }
  }
}
