// fuentes
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Ubuntu:wght@500&display=swap');

$font-nunito: 'Nunito', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;
