@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';
@import '../../styles/base/tipografy';
.subscribe {
  width: 100vw;
  height: 321px;
  margin-top: 24px;
  background-color: $color-grey-light-1;
  padding: 12px 27px 20px;
  position: relative;
  @include respond(tab-land) {
    width: 100%;
    height: 146px;
  }
  &__title {
    h2 {
      font-family: $font-lato;
      font-weight: $font-bold;
      font-size: 2.7rem;
      line-height: 3.5rem;
      @include respond(tab-land) {
        text-align: center;
      }
    }
  }
  &__form {
    margin-top: 14px;
    @include respond(tab-land) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  &__btns {
    margin-top: 8px;
  }
  &__loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
.filter {
  filter: blur(5px);
}
